<ion-footer no-shadow>
    <ion-toolbar position="bottom" color="lightgrey">
      <ion-grid fixed="true" class="my-grid">
        <ion-row class="parent-row">
          <ion-col size="2"></ion-col>
          <ion-col text-center>
            <ion-button fill="clear">
                <ion-icon color="light" name="home" size="large"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col text-center>
            <ion-button class="round" fill="outline">
                <ion-icon color="light" name="add" size="large"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col text-center>
            <ion-button fill="clear">
                <ion-icon color="light" name="search" size="large"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
      </ion-grid>        
    </ion-toolbar>
</ion-footer>