<ion-content color="light">
  <mat-vertical-stepper  [linear]="true" #stepper>
    <mat-step [stepControl]="basicInfoForm">
      <form [formGroup]="basicInfoForm">
        <ng-template matStepLabel>Basic Information</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="First Name"
            formControlName="fName"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Last Name"
            formControlName="lName"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            readonly
            [min]="minDate"
            [max]="maxDate"
            [matDatepicker]="picker"
            placeholder="Date Of Birth"
            formControlName="birthday"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="email"
            placeholder="Email"
            formControlName="email"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button (click)="basicInfoForm.reset()">Clear</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="userInfoForm" label="User Information">
      <form [formGroup]="userInfoForm">
        <mat-form-field>
          <input
            matInput
            placeholder="Username"
            formControlName="username"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            formControlName="password"
            required
          />
          <mat-error>
            Passwords must be between 6-12 characters
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Confirm password"
            formControlName="passwordConfirm"
            required
          />
        </mat-form-field>
        <ion-text *ngIf="displayError" color="danger">
          Passwords do not match
        </ion-text>
        <div>
          <button mat-button (click)="userInfoForm.reset()">Clear</button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="validatePassword(userInfoForm,stepper)">
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="birthForm" label="Birthplace">
      <form [formGroup]="birthForm">
        <mat-form-field>
          <mat-label>Birth Country</mat-label>
          <mat-select formControlName="country" (selectionChange)="checkInputValue()">
            <mat-option>
              <ngx-mat-select-search formControlName="countryFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let country of birthCountryObservable | async" [value]="country">
              {{country.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field *ngIf="displayBirthState">
          <mat-label>Birth State</mat-label>
          <mat-select formControlName="state">
            <mat-option>
              <ngx-mat-select-search formControlName="stateFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let state of birthStateObservable | async" [value]="state.name">
              {{state.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button (click)="birthForm.reset()">Clear</button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="residenceForm" label="Current residency">
      <form [formGroup]="residenceForm">
        <mat-form-field>
          <mat-label>Residing Country</mat-label>
          <mat-select formControlName="country" (selectionChange)="checkInputValue()">
            <mat-option>
              <ngx-mat-select-search formControlName="countryFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let country of residenceCountryObservable | async" [value]="country.name">
              {{country.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field *ngIf="displayResidenceState">
          <mat-label>Residing State</mat-label>
          <mat-select formControlName="state">
            <mat-option>
              <ngx-mat-select-search formControlName="stateFilter"></ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let state of residenceStateObservable | async" [value]="state.name">
              {{state.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button (click)="residenceForm.reset()">Clear</button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="titleForm">
      <form [formGroup]="titleForm">
        <ng-template matStepLabel>Education and employment</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="Education"
            formControlName="education"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Current job title"
            formControlName="occupationTitle"
            required
          />
        </mat-form-field>
        <div>
          <button mat-button (click)="basicInfoForm.reset()">Clear</button>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
  <ion-row color="primary" justify-content-center *ngIf="displayError">
    <ion-text color="danger">{{error}}</ion-text>
  </ion-row>
  <div padding>
    <ion-button [disabled]="!canRegister" size="large" type="submit" (click)="register()" expand="block">Register</ion-button>
  </div>
  <div padding>
    <ion-button size="large" type="submit" (click)="openLogin()" expand="block" >Back to login</ion-button>
  </div>
</ion-content>