<ion-header>
	<ion-toolbar>
    <ion-title>Add Destinations</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search destination"></ion-searchbar>
  <ion-grid>
    <ion-col size="6">
          <div id="addLocationDiv"></div>
    </ion-col>
  </ion-grid>


<ion-list>
    <ion-radio-group (ionChange)="onChangeHandler($event)">
      <ion-list-header>
        <ion-label>{{selectedName}}</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Wants to visit</ion-label>
        <ion-radio slot="start" value="toVisit" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Has visited</ion-label>
        <ion-radio slot="start" value="visited"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Has lived</ion-label>
        <ion-radio slot="start" value="lived"></ion-radio>
      </ion-item>
      <ion-item>
          <ion-label>My dream destination</ion-label>
          <ion-radio slot="start" value="dream"></ion-radio>
        </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button (click)="changeVisitStatus(selectedId,statusToSend,false)" expand="block" fill="outline" color="success">Update location</ion-button>
  <ion-button (click)="submit()" expand="block" fill="outline" color="success">Save</ion-button>
  <ion-button (click)="cancel()" expand="block" fill="outline" color="danger">Cancel</ion-button>

  
</ion-content>

