<app-custom-header headerText='test_user'></app-custom-header>
<head>
    <title>Map</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
<ion-content>
<ion-grid fixed="true" style="height: 100%">
    <ion-row>
      <ion-col size="3.5">
        <ion-row>
          <ion-col>
            <img  height="100" width="100" src="../assets/defaultuser.png" alt="../assets/defaultuser.png">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-button color="dark"fill="outline" expand="block" (click)="editProfile()" size="small">Edit Profile</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col>
            <ion-text>
                <h3><strong>200</strong></h3>
                <h6>FOLLOWERS</h6>
            </ion-text>
          </ion-col>
          <ion-col>
            <ion-text>
                <h3><strong>200</strong></h3>
                <h6>FOLLOWING</h6>
            </ion-text>       
          </ion-col>
          <ion-col>
            <ion-text>
                <h3><strong>20%</strong></h3>
                <h6>WORLD VISITED</h6>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <p class="user-stats">
          Test User <br>
          Born in Charleston, SC <br>
          Lives in Charleston, SC <br>
          Clemson University | Visit Co-Founder <br>
         </p>
        </ion-row>
        <ion-row>
          <hr>
          <ion-col>
            <ion-text>
              <h5><strong>10</strong></h5>
              <h6 class='visited'>COUNTRIES VISITED</h6>
            </ion-text> 
          </ion-col>
          <ion-col>
            <ion-text>
              <h5><strong>10</strong></h5>
              <h6 class="future-dest">FUTURE DESTINATIONS</h6>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
            <div id="chartdiv" onload="onLoad()"></div>
      </ion-col>
    </ion-row>
  <ion-row>
        <ion-col align-self-end>Hometown</ion-col>
        <ion-col align-self-end>Dream destination</ion-col>
        <ion-col align-self-end>Next visit</ion-col>
  </ion-row>
</ion-grid>
</ion-content> 

<app-custom-footer></app-custom-footer>