<app-custom-header headerText='test_user'></app-custom-header>
<head>
    <title>Map</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
<ion-content>
<ion-grid fixed="true" style="height: 100%">
    <ion-row>
      <ion-col size="3.5">
        <ion-row>
          <ion-col>
            <img  height="100" width="100" src="../assets/defaultuser.png" alt="../assets/defaultuser.png">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <ion-button color="dark"fill="outline" expand="block" size="small">Edit Profile</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
          insert profile stats
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
            <div id="chartdiv" onload="onLoad()"></div>
      </ion-col>
    </ion-row>
  <ion-row>
        <ion-col align-self-end>Hometown</ion-col>
        <ion-col align-self-end>Dream destination</ion-col>
        <ion-col align-self-end>Next visit</ion-col>
  </ion-row>
</ion-grid>
</ion-content> 

<app-custom-footer></app-custom-footer>