<ion-content  color="light">
  <form  #form="ngForm" (ngSubmit)="register()">
    <ion-grid>
      <ion-row color="light" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Create your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  name="fName" type="text" placeholder="First name" [(ngModel)]="user.fName" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="lName" type="text" placeholder="Last name" [(ngModel)]="user.lName" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  name="userName" type="text" placeholder="Username" [(ngModel)]="user.userName" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" [(ngModel)]="user.email" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="birthday" type="date" placeholder="01/01/1995" [(ngModel)]="user.birthday" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="birthplace" type="text" placeholder="Birthplace" [(ngModel)]="user.birthPlace" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="currentCity" type="text" placeholder="Current City" [(ngModel)]="user.residesIn" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="education" type="text" placeholder="Education" [(ngModel)]="user.education" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="occupation" type="text" placeholder="Occupation" [(ngModel)]="user.occupationTitle" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="user.password" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="Password again" [(ngModel)]="passwordVal" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
          </div>
          <div padding>
            <ion-button size="large" type="submit" (click)="openLogin()" expand="block">Back to login</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row color="primary" justify-content-center *ngIf="displayError">
        <ion-text color="danger">{{error}}</ion-text>
    </ion-row>
    </ion-grid>
  </form>
</ion-content>

